.tooltip {
    position: relative;
  
    &:after {
      content: attr(data-tooltip);
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 6px 12px;
      background-color: black;
      color: white;
      font-size: 14px;
      white-space: nowrap;
      z-index: 1;
  
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -6px;
        border-width: 6px;
        border-style: solid;
        border-color: transparent black transparent transparent;
      }
    }
  
    &:hover {
      &:after {
        display: block;
        text-align: center;
      }
  
      &[data-placement="right"] {
        &:after {
          left: 100%;
          top: 50%;
          transform: translate(0, -50%);
        }
  
        &::before {
          left: -12px;
        }
      }
  
      &[data-placement="left"] {
        &:after {
          right: 100%;
          top: 50%;
          transform: translate(0, -50%);
        }
  
        &::before {
          right: -12px;
        }
      }
  
      &[data-placement="top"] {
        &:after {
          bottom: 100%;
          left: 50%;
          transform: translate(-50%, 0);
        }
  
        &::before {
          bottom: -12px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
  
      &[data-placement="bottom"] {
        &:after {
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0);
        }
  
        &::before {
          top: -12px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
  